body {
    font-family: 'Roboto', 'Noto', sans-serif;
    background-color:#f0f0f2;
}
#container {
min-width: 1200px;
}
#section1,#section2,#section3,#section0 {
/*width: 1000px;
		height:200px;
		margin: 0 auto;*/
text-align: center;width:auto;margin:0 auto
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
  /*  min-width: 60px;		*/			
    min-height: 28px;					
    padding: 10px;				
    font: 12px sans-serif;		
    background-color: white;	
    border: 1.5px;	
    border-color:#333333
    border-radius: 2px;			
    pointer-events: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    /*color:white;*/
}
div.tooltip h3 {
    line-height: 0.4;
}
path.unit:hover{
    fill:red !important;
}
.navbar-inverse {
    background: #1a2a6c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100px;
    border-radius: 0;	
    border: 0 solid #ddd !important;
    border-color: #222222 !important;
    box-shadow: 0 0.2px 15px rgba(0,0,0,.5);
}
.nav-tabs {
    border-bottom: 0 solid #ddd !important;
    display: inline-block; /* needed to center the list items */
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
text-decoration: none;
font-weight: bold;
border-radius:0px;
border-bottom-width: 1.5px;
border-bottom-style: solid;
border-bottom-color: white;
font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent !important;
}
.nav-pills > li > a{
    border-radius:0px;
    color:white;
    font-weight: 700;
    opacity:0.9;
}
.nav-pills > li {
}
.nav>li>a {
    padding: 20px 75px !important;
}
#tabsContainer {
   margin:0;
  padding:0;
  clear:both;
  text-align:center;
  margin-top: 27px;
}
#tabsContainer li{
display:inline-block;
  padding:10px 20px;
  margin:0;
}

#titleStory, #titleStory2,#titleStory3 {
font-size: 25px;
font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#textinfo,#textinfo2,#textinfo3{
    width: 250px;
    /*width: 30%;*/
    display: inline-block;
    vertical-align: top;
   /* float: left;*/
        padding: 10px;
        /*margin-right:250px;*/
}
#visualizations0,#visualizations, #visualizations2, #visualizations3 {
display: inline-block;
    vertical-align: top;
/*width: 700px; float:left;*/
    overflow: hidden
}
#listyear0,#listyear, #listyear2, #listyear3{
    /*width: 150px;
    float: left;
    text-align: right;
        padding: 10px;
        padding-top:120px;*/
    padding-top:120px;
    display: inline-block; vertical-align: top;
}
#maprest0,#maprest,#maprest2,#maprest3 {
display: inline-block;
    vertical-align: top;
    overflow: hidden
}
#listyear ul, #listyear2 ul, #listyear3 ul {
list-style-type: none;
}
#listyear li, #listyear2 li, #listyear3 li {
padding: 10px 5px !important;
}
#listyear li a, #listyear2 li a, #listyear3 li a {
padding: 5px 5px !important;
text-decoration: none;
font-weight: bold;
border-radius:0px;
    color: gray;
font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent !important;
    cursor:pointer;
}
#listyear .selected, #listyear li a:hover, #listyear2 .selected, #listyear2 li a:hover, #listyear3 .selected, #listyear3 li a:hover{
padding: 5px 5px !important;
    border-bottom-width: 1.5px;
border-bottom-style: solid;
    color: gray;
    border-bottom-color: #e87c39;
    font-weight: 700;
}

/*
 * Box
 */
.box-content {
    padding: 13px 15px 14px;
    font: 400 13px Helvetica,Arial;
    color: #858585;
    text-align: left;
    webkit-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    background: #fff;
    z-index: 105;
    box-shadow: 0 0 4px #e5e5e5!important;
    border-color: #e5e5e5!important;
}
.progress-label {
    text-align: left;
    padding-left: 30px;
    margin-right: 1em;
    margin-top: 0 !important; 
     margin-bottom: 0 !important;
     font-size: 14px !important;
}
.progress {
    height: 15px !important;
}
.box-content2 {
    margin-top: 30px;
/*    padding: 13px 15px 14px;
    font: 400 13px Helvetica,Arial;
    color: #858585;
    text-align: left;
    webkit-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    background: #fff;
    z-index: 105;
    box-shadow: 0 0 4px #e5e5e5!important;
    border-color: #e5e5e5!important;*/
}

/*
 * *Incident types
 * */
#mapandtime0,#mapandtime, #mapandtime2{
    float: left;
        padding: 10px;
}
#incidenttypes2 {
    width: 250px;
    overflow: hidden;
}
#incidentslist {
    margin-top: 5px;
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 270px;
}
    
