div.tooltip {	
    position: absolute;			
    text-align: center;			
  /*  min-width: 60px;		*/			
    min-height: 28px;					
    padding: 10px;				
    font: 12px sans-serif;		
    background-color: white;	
    border: 1.5px;	
    border-color:#333333
    border-radius: 2px;			
    pointer-events: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    /*color:white;*/
}
div.tooltip h3 {
    line-height: 0.4;
}
path.unit:hover{
    fill:red !important;
}